/* PaymentDashboard.css */
.payment-dashboards {
    display: flex;
    flex-direction: column;
    height: 68vh;
    border: 4px solid #831898;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    width: 97%;
    justify-content:center ;
  }
  
  .dashboard-container {
    display: flex;
    flex: 1;
    align-items: center;
    
  }

  
  
  .main-content {
    flex: 1;
    padding: 20px;
    /* display: flex; */
  }
  
  .payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .payment-table th,
  .payment-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .payment-table th {
    background-color: #f2f2f2;
  }
  
  .total-amount {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin-right: 10px;
    }
    span {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  