/* Profile.css */

.profile-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #831898; /* Border color */
  padding: 20px;
  border-radius: 10px;
  max-width: 500px; /* Adjust the width as needed */
  margin: auto;
  margin-top: 50px; /* Adjust the top margin as needed */
}

.heading {
  flex: 1;
  text-align: center;
  font-size: 14px;
  margin-top: 45px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  text-align: center;
  justify-content: center;
}

.user-details-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.user-details-table td {
  padding: 10px;
  border-bottom: 1px solid #831898; /* Border color */
}

.user-details-table td:first-child {
  font-weight: bold;
}

.button-container {
  margin-top: 20px;
}

.change-password-button {
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.change-password-button:hover {
  background-color: #b300b3;
  border-color: #b300b3;
}

/* Add additional styling as needed */
