/* .css */

.aim-container {
  /* background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    padding: 40px;
    text-align: center;
  }

  .aim-image {
    width: 100%; /* Set the image width to cover the entire container */
    max-height: 300px; /* Adjust the max-height as needed */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    margin-bottom: 10px;
  }
  
  .aim-container h2 {
    font-size: 5.0rem;
    margin-bottom: 10px;
  }
  
  .aim-container p {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    text-align: justify;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  